p{color:red;
background-color:lightblue;}

.example1{display:none;}
.example2{display:none;}
.example3{display:block;}
@media screen and (max-width: 599px) {
  .example1 { display: block; }
  .example2 { display: none; }
  .example3 { display: none; }
}
@media screen and (max-width: 992px) {
.example1{display:none;}
.example2{display:block;}
.example3{display:none;}
}
